@use '@angular/material' as mat;

$moe-manga-dark-primary: mat.define-palette(mat.$pink-palette);
$moe-manga-dark-accent: mat.define-palette(mat.$blue-grey-palette);
$moe-manga-dark-warn: mat.define-palette(mat.$red-palette);

$moe-manga-dark-theme: mat.define-dark-theme((
  color: (
    primary: $moe-manga-dark-primary,
    accent: $moe-manga-dark-accent,
    warn: $moe-manga-dark-warn,
  ),
  typography: mat.define-typography-config()
));
