@use '@angular/material' as mat;

$moe-manga-light-primary: mat.define-palette(mat.$indigo-palette);
$moe-manga-light-accent: mat.define-palette(mat.$pink-palette);
$moe-manga-light-warn: mat.define-palette(mat.$red-palette);

$moe-manga-light-theme: mat.define-light-theme((
  color: (
    primary: $moe-manga-light-primary,
    accent: $moe-manga-light-accent,
    warn: $moe-manga-light-warn,
  ),
  typography: mat.define-typography-config()
));
