<button
  mat-icon-button
  cdkOverlayOrigin
  #menuToggle="cdkOverlayOrigin"
  (click)="menuOpen = true"
>
  <mat-icon>account_circle</mat-icon>
</button>

<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  [cdkConnectedOverlayOrigin]="menuToggle"
  [cdkConnectedOverlayOpen]="menuOpen"
  (overlayOutsideClick)="menuOpen = false"
>
  <div class="menu">

    <div class="menu__user">
      <div class="user__avatar"></div>
      <span class="user__name mat-title">Username</span>
    </div>

    <mat-divider></mat-divider>

    <mat-nav-list class="menu__links">
      <mat-list-item
        *ngFor="let item of menuItems"
        [routerLink]="item.path"
      >
        <mat-icon matListIcon>{{ item.icon }}</mat-icon>
        <span matLine>{{ 'LAYOUT.MENU.LINKS.' + item.translateKey | translate }}</span>
      </mat-list-item>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <div class="menu__settings">
      <button mat-button routerLink="/settings">
        <mat-icon>settings</mat-icon>
        {{ 'LAYOUT.MENU.SETTINGS_BTN' | translate }}
      </button>
      <moe-theme-toggle></moe-theme-toggle>
    </div>

    <mat-divider></mat-divider>

    <div class="menu__auth-actions">
      <button mat-flat-button color="primary">{{ 'LAYOUT.MENU.LOGIN_BTN' | translate }}</button>
      <button mat-stroked-button color="accent">{{ 'LAYOUT.MENU.REGISTER_BTN' | translate }}</button>
    </div>
  </div>
</ng-template>
