.menu {
  display: flex;
  flex-direction: column;
  width: 250px;

  row-gap: 0.5rem;
  padding: 0.5rem;

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;

    .user__avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
    }

    .user__name {
      margin: 0;
    }
  }

  &__links {
    padding: 0;
  }

  &__auth-actions, &__settings {
    display: flex;
    justify-content: space-around;
    column-gap: 0.5rem;

    & > button {
      width: 100%;
    }
  }
}
