<mat-sidenav-container fullscreen>
  <mat-sidenav
    [mode]="(sidenavMode$ | async) || 'over'"
    (closed)="sidenav.close()"
    [opened]="sidenav.state$ | async"
  >
    <moe-sidenav></moe-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <moe-toolbar sticky>
      <moe-menu toolbarRight></moe-menu>
    </moe-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
