<mat-toolbar [class.toolbar--sticky]="sticky" color="primary">
  <ng-container *ngIf="!(sidenav.state$ | async)">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>MoeManga</span>
  </ng-container>
  <span class="spacer"></span>
  <ng-content select="[toolbarRight]"></ng-content>
</mat-toolbar>
