@use '@angular/material' as mat;

@use './styles/components';
@use './styles/themes/dark';
@use './styles/themes/light';

// Common styles for Angular Material
@include mat.core();

// Theme styles for core and each component used in your app.
@include mat.all-component-themes(dark.$moe-manga-dark-theme);
@include components.themes(dark.$moe-manga-dark-theme);

.light-theme {
  @include mat.core-color(light.$moe-manga-light-theme);
  @include mat.all-component-colors(light.$moe-manga-light-theme);
  @include components.themes(light.$moe-manga-light-theme);
}


// Global styles and other style files imports
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
