<div class="header">
  <button mat-icon-button (click)="location.back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2 class="header__title">{{ 'SETTINGS.VIEW.TITLE' | translate }}</h2>
</div>

<div class="settings__list">
  <mat-card>
    <moe-setting *ngFor="let setting of settings"
                 [title]="setting.titleKey | translate"
                 [description]="setting.descriptionKey | translate"
    >
      <ng-container [ngComponentOutlet]="setting.component"></ng-container>
    </moe-setting>
  </mat-card>
</div>
