<mat-form-field appearance="fill">
  <mat-label>{{ 'SETTINGS.UI_LANGUAGE_SETTING.LABEL_TITLE' | translate }}</mat-label>
  <mat-select [formControl]="languageControl">
    <mat-option
      *ngFor="let lang of languageService.availableLanguages.values()"
      [value]="lang.code">
      {{ lang.fullName }}
    </mat-option>
  </mat-select>
</mat-form-field>
