@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $config: mat.get-color-config($theme);
  $primary-palette: map.get($config, primary);
  $background: map.get($config, background);

  .nav-link--active {
    $bg-color: mat.get-color-from-palette($background, hover, 0.12);
    background-color: $bg-color;

    &:hover, &:focus {
      background-color: $bg-color !important;
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  .header {
    &__title {
      font-weight: mat.font-weight($typography-config, body-2) !important;
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
