<div class="header">
  <h1 class="header__title">Moe Manga</h1>
  <button mat-icon-button (click)="sidenav.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-nav-list>
  <mat-list-item
    *ngFor="let link of links"
    [routerLink]="link.path"
    routerLinkActive="nav-link--active"
    [routerLinkActiveOptions]="{ exact: link.exactMatch ?? false }"
  >
    <mat-icon matListIcon>{{ link.icon }}</mat-icon>
    <span matLine>{{ 'LAYOUT.SIDENAV.LINKS.' + link.translateKey | translate }}</span>
  </mat-list-item>
</mat-nav-list>

